/* Fonts */
$base_font: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Verdana, sans-serif;
$base_font_size: 16px;

/* Break Point */
$pc_min_width: 768px;
$sp_max_width: 767.89px;